body{
    background-color: darkcyan;
}

selections{
    display: flex;
    justify-content: center;
}

selection{
    background: none;
    border: none;
    outline: none;
}

.imgs{
    height: 400px;
    width: 400px;
}

