body{
    background-color: darkcyan;
}
  
.selections{
    display: flex;
    justify-content: center;
  }
  
.selection{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    transition: 100ms;
  }

.imgs{
    height: 150px;
    width: 150px;
}
.selection:hover{
    scale: 1.5s;
}

