body{
    background-color: cornflowerblue;
}
  
.selections{
    display: flex;
    justify-content: center;
  }
  
.selection{
    border: none;
    cursor: pointer;
    background: none;
    transition: 100ms;
  }

.imgs{
    height: 125px;
    width: 125px;
}
.selection:hover{
    transform: scale(1.5);
}

.results{
  margin-top: 3rem;
  display: grid;
  justify-content: center;
  grid-template-columns:repeat(2, 1fr) ;
  justify-items: center;
  align-items: center;
}

.results-score{
  margin-left: .1rem;
  font-size: .5rem;
}
